@{
    this.ViewData["Title"] = "AllOrders";
}


<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>

</div>

<a asp-controller="Orders" asp-action="DetailsOrder">DetailsOrder</a>