@{ 
    this.ViewData["Title"] = "DetailsOrder";
}


<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>

</div>

<a asp-controller="Orders" asp-action="DeleteOrder">DeleteOrder</a>