@model List<WorkWorkViewModel>

@{
    this.ViewData["Title"] = "AllWorks";
}


<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>

</div>

@foreach (var work in Model)
{
<div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Price: @work.Price</h4>
        <p class="card-text">@work.Description</p>
    </div>
</div>



    <a asp-controller="Works" asp-action="EditWorks">Edit Works</a>
}