

@{
    this.ViewData["Title"] = "Edit Works";
}


<div class="container-fluid text-center">

    <h1>@this.ViewData["Title"]</h1>

</div>

<a asp-controller="Works" asp-action="DeleteWorks">DeleteWorks</a>