@model List<ReviewAllViewModel>

@{
    this.ViewData["Title"] = "Review";
}

<h1>@this.ViewData["Title"]</h1>

<h1>ALL REviews!!!</h1>

<a asp-controller="Reviews" asp-action="Create"> Write a review !!!</a>
