@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car Service</h1>
    <!--<img  src= "https://local-auto-locksmith.co.uk/wp-content/uploads/2020/01/5c7e7fc789f49339065587c2-768x459.jpg"/>  -->
</div>
<br />
<br />
<div form-control class="text-center">
    <div class="container">
        <img class="img-fluid rounded-circle" src="https://local-auto-locksmith.co.uk/wp-content/uploads/2020/01/5c7e7fc789f49339065587c2-768x459.jpg">
    </div>

    <br />
    <a asp-controller="IssueTypes" asp-action="IndexIssueType" class="btn btn-primary mx-auto d-block"> Next!!!</a>
</div>


