@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Car Service</h1>
    <!--<img  src= "https://local-auto-locksmith.co.uk/wp-content/uploads/2020/01/5c7e7fc789f49339065587c2-768x459.jpg"/>  -->
</div>
<br />
<br />
<div form-control class="text-center">
    <div class="container">
        <img src="https://local-auto-locksmith.co.uk/wp-content/uploads/2020/01/5c7e7fc789f49339065587c2-768x459.jpg" alt="Snow">
        <button class="btn">NEXT !!!</button>
    </div>
    <br/>
    <br/>
    <a asp-controller="Home" asp-action="IndexHome" class="btn btn-primary"> Next!!!</a>
</div>


